
    <div class="background">
      
        <!-- <img src="../../../../assets/img/quien-soy.png" alt="quien-soy" width="200">-->
    
     <div class="col text-center ">
         <ul class="d-inline">
             <li class="mb-2"><u>Nombre:</u> Martin </li>
             <li class="mb-2"><u>Apellido:</u> Arrua</li>
             <li class="mb-2"><u>División:</u> 4°B</li>
             <li class="mb-2"><u>Email:</u> martinraularrua@gmail.com</li>
             <li class="mb-2"><u>GitHub:</u> https://github.com/facherotqda/martinarrualab4</li>
         </ul>
     
 </div>

